# AlmaLinux 9 kickstart file
lang en_US.UTF-8
keyboard us
timezone UTC

# Use network installation
url --url="https://repo.almalinux.org/almalinux/9/BaseOS/$basearch/os/"
repo --name="AppStream" --baseurl="https://repo.almalinux.org/almalinux/9/AppStream/$basearch/os/"

# Configure network
network --bootproto=dhcp --device=link --activate --onboot=on

# Root password (vagrant)
rootpw --plaintext vagrant

# Create vagrant user
user --name=vagrant --groups=wheel --password=vagrant --plaintext

# System services
services --enabled="chronyd,sshd"

# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"

# Partition clearing/configuration
clearpart --all --initlabel
autopart --type=lvm

# Accept EULA
eula --agreed

# Reboot after installation
reboot

# Firewall configuration
firewall --enabled --service=ssh

# SELinux configuration
selinux --enforcing

# Packages section
%packages --ignoremissing --excludedocs
@core
openssh-server
openssh-clients
sudo
curl
wget
vim
%end

# Post-installation script
%post
# Update sudo configuration to allow password-less sudo for the vagrant user
echo "vagrant ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# Set up Vagrant ssh key
mkdir -p /home/vagrant/.ssh
curl -L https://raw.githubusercontent.com/hashicorp/vagrant/master/keys/vagrant.pub > /home/vagrant/.ssh/authorized_keys
chmod 700 /home/vagrant/.ssh
chmod 600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant/.ssh

# Disable requiretty
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

# Install necessary packages for Vagrant
dnf -y install gcc make perl kernel-devel kernel-headers bzip2

# Clean up
dnf clean all
%end